body{
    width: 100%;
    margin: 0;
}

div.header{
    width: 100%;
    background-color: #0099ff;
}
.left{
    background-color: #fae4e0;
    float: left;
    width: 400px;

}
.content{
    background-color: #e9e18d;
    margin-left: 420px;
    border: 1px solid #62c462;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.left .block{
    /*display: table;*/
    border: 1px solid #002a80;
}
.item{
    float: left;
}
.content .block{
    /*display: table;*/
    border: 1px solid #002a80;
    background-color: #003399;
}
.content .block :after{
    content: "c";
    display: block;
    clear: both;
}


.mypanel{

}
.mypanel-header{

}
.mypanel-body{

}