/* Global properties ======================================================== */
html{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
html, body {
	width:100%;
	padding:0;
	margin:0;
    min-width: 740px;
}
body {
    margin: auto;
	font: 14px/18px "Times New Roman", Times, serif;
	color:#6f6f6f;
}
.main {
	width:1024px;
	margin:0 auto;
}

.display-none{
    display: none;
}
/***********************************************************************/
a {
	text-decoration:none;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.link {
	color:#bf96c7;
	text-decoration:underline;
}
.link:hover {
	color:#fff;
	text-decoration:underline;
}

****************header*****************

.header {
	background:url(../images/bg.jpg) 0 0 repeat;
	position:relative;
	width:100%;
}
.header img.header-image{
    width: 100%;
}
.header .nav {
	position:absolute;
	width:100%;
	z-index:999;
	background:url(../images/nav-line.png) 0 bottom repeat-x;
	padding-bottom:1px;
}
nav {
	background:url(../images/nav.png) 0 0 repeat;
	margin:0 auto 0 auto;
	position:relative;
    clear: left;
}
ul.menu {
	display:inline-block;
    width: 100%;
}
ul.menu .category-left{
    text-align: center;
    float:left;
    display:inline-block;
    line-height:24px;
    padding:0 20px 0 20px;
    width: 20%;
}
ul.menu .category-right{
    text-align: center;
    float:right;
    display:inline-block;
    line-height:24px;
    padding:0 20px 0 20px;
    width: 20%;

}
ul{
    list-style-type: none;
}
ul.menu .category .li-none {
	background:transparent;
}
ul.menu .category .li-left {
	margin-left:200px;
}
ul.menu li a {
	font-size:18px;
	line-height:24px;
	color:#fff;
	font-style:italic;
	display:inline-block;
}
ul.menu li a:hover, ul.menu li.current a {
	color:#bf96c7;
}
ul.menu .subcategories{
    margin-top: 20px;
    clear: left;
}



/************Main Frame*************/

.main-frame .content{
    margin: 20px 340px 0 20px;
}

.main-frame .right-column{
    width: 300px;
    float: right;
    margin: 20px 20px 0 0;
    background: #fae4e0;
    border-radius: 7px;
    padding: 5px;
}

/************* Articles by category ***************/
.articles-mini{
    margin-top: 10px;
}

.article-mini{
    min-width: 370px;
    font: 18px "Times New Roman";
    margin: 15px 0;
    border: solid 2px rgb(255, 226, 254);
    border-radius: 10px;
}

.article-mini:after{
    content: '';
    clear: both;
    display: block;
}

.article-mini .text{
    margin-right: 10px;
}

.article-mini img{
    float: left;
    /*display: inline;*/
    width: 150px;
    margin: 12px 18px 12px 12px;
}

.article-mini p{
    margin: 10px;
}

.article-mini a{
    color: #c72fc5;
}

.article-mini .title{
    font: 24px "Times New Roman";
    /*display: inline-block;*/
    margin: 20px 0 0 25px;
    display: block;
}

.article-mini .right{
    margin-left: 170px;
}


/************* Article ***************/

section.article{
    font: 18px "Times New Roman";
}

section.article img{
    float: left;
    margin: 0 30px 0 0;
    width: 400px;
}

section.article .title{
    margin: 20px 0 20px 0;
    font: 24px "Times New Roman";
    color: #c72fc5;
}

section.article .text{

}

/********Aromo*******/
section.aromo a{
    color: #c72fc5;
}
section.aromo .menu li{
    width: 100px;
    height: 30px;
}
section.aromo .menu{
    float: left;
}
section.aromo .content{
    display: inline;
}


