/*Common*/
body{
    margin: 0;
}

ul{
    margin: 0;
}

.main{
    margin: 10px;
}

.left-panel{
    float: left;
    width: 200px;
    margin: 20px;
}

.left-panel ul{
    list-style-type: none;
    padding: 0;
}

.left-panel li{
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 7px;
    background: #e9e18d;
}

.left-panel a{
    display: block;
    text-decoration: none;
    vertical-align: middle;
}

.content{
    float: left;
    margin: 70px 20px 20px 20px;
    min-width: 900px;
    /*width: 100%;*/
}

h3{
    margin-left: 30px;
}

.right-panel{
    /*margin-left: 500px;*/
    width: 900px;
    float: right;
}

.manage-article{
    margin: 60px 10px 10px 10px;
}

/*Header image management*/

.header-image-list img{
    width: 700px;
}

.header-image-list div.left{
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.header-image-list div.image{
    display: inline-block;
}

.header-image-list .name, .remove,
.assign, .active{
    margin: 0 7px 0 0;
    display: block;
    text-align: right;
}

.header-image-list .name{
}

.header-image-list .remove{
}

.header-image-list .assign{
}

.header-image-list .active{
}



/*Choose category*/

.choose-category{
    margin: 10px;
}

.choose-category ul{
    padding-left: 30px;
    list-style-type: none;
}

.choose-category .groups{

}

.choose-category .group{
    /*background: #e9d08e;*/
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.choose-category .category{
    background: #dbd8b3;
    margin: 7px;
}

.choose-category a.remove{
    float: right;
}
.groups-panel {
    margin-top: 55px;
}
.groups-panel > a.add-category {
    color: #85858a;
}


/*Update & Create article*/

.update-form .left{
    float: left;
}

.input-line{
    margin: 10px;
}

.input-line .title{
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.input-line .input{
    display: inline;
}

.input-block{
    margin: 20px 10px 10px 10px;
}

.input-block .title{
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.input-block .input{
    margin-top: 10px;
}

.input-block .input .cke{
    width: 100%;
}

.update-form .right{

}

.update-form .right .article-image img{
    width: 500px;
}



/*Choose article*/

.choose-article{
    margin: 10px;
}

.choose-article ul{
    padding-left: 30px;
    list-style-type: none;
}

.choose-article .groups{

}

.choose-article .group{
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.choose-article .category{
    background: #dbd8b3;
    margin: 7px;
}
.choose-article a.remove{
    float: right;
}

/************* Article manage ***********/
/*.choose-article-panel{*/
    /*width: 450px;*/
    /*float: left;*/
/*}*/

/*span.actions{*/
    /*float: right;*/
/*}*/

/*.actions button{*/
    /*margin: 0 3px;*/
/*}*/

.articles .category-actions{
    margin-bottom: 10px;
}

.articles-content{
    margin-top: 10px;
}

.articles-content .articles{
    width: 300px;
    float: left;
}

.articles-content .article-content{
    margin-left: 320px;
    display: table;
}

/*
    article list item
*/

.article-list-item:hover{
    background: #e7e7e7;
}

.article-list-item .notice {
    display: none;
}

.article-list-item:hover .notice{
    display: block;
}

.article-list-item .actions {
    display: none;
    float: right;
}
.article-list-item:hover .actions {
    display: inline;
}

/******* Botstrap Fixes ********/
.choose-article-panel .panel-group .panel{
    overflow: visible;
}

.modal-dialog .modal-body {
    position: relative;
    padding: 20px 20px 0 20px;
}