/* Global properties ======================================================== */
html{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
html, body {
	width:100%;
	padding:0;
	margin:0;
    min-width: 740px;
}
body {
    margin: auto;
	font: 14px/18px "Times New Roman", Times, serif;
	color:#6f6f6f;
    background: url("/images/519817190.jpg");
}
.main {
	width:1024px;
	margin:0 auto;
}

.display-none{
    display: none;
}
/*.main-frame{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /**/
/*}*/
/*.main-frame:after{*/
    /*content: " ";*/
/*}*/
/***********************************************************************/
a {
	text-decoration:none;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.link {
	color:#bf96c7;
	text-decoration:underline;
}
.link:hover {
	color:#fff;
	text-decoration:underline;
}

****************header*****************

.header {
	background:url(/css/bg.gif) 0 0 repeat;
	position:relative;
	width:100%;
}
.header img.header-image{
    width: 100%;
}
.groups {
	display: table;
    table-layout: fixed;
    width: 100%;
    background:rgba(204, 233, 88, 0.55);
    padding: 10px 0 10px 0;
}
.header .group{
    text-align: center;
    display:table-cell;
}
/*.header .group .category{*/
    /*text-align: left;*/
/*}*/
ul{
    list-style-type: none;
}
.groups .category .li-none {
	background:transparent;
}
.groups .category .li-left {
	margin-left:200px;
}
.groups a {
	font-size:18px;
	line-height:24px;
	color: #fbf8ff;
	font-style:italic;
	display:inline-block;
}
.groups .categories{
    margin-top: 25px;
    clear: left;
}


/************Main Frame*************/
.main-container{
    width: 900px;
    margin: auto;
}
.main-container .article-content{
    margin: 20px 340px 0 20px;
}
.main-container .right-column{
    width: 300px;
    float: right;
    margin: 15px 0  0 0;
    /*background:url("/images/nav.png");*/
    background: rgba(204, 233, 88, 0.55);
    padding: 10px;
    color: #080808;
    /*opacity: 0.2;*/
}

/************* Articles by category ***************/
.articles-list {
    width: 590px;
}
.articles-mini{
    margin-top: 10px;
}
.article-mini{
    min-width: 370px;
    font: 18px "Times New Roman";
    margin: 15px 0;
    background: rgba(233, 229, 71, 0.53);
    /*border: solid 2px rgb(255, 226, 254);*/
    /*border-radius: 10px;*/
}
.article-mini:after{
    content: '';
    clear: both;
    display: block;
}
.article-mini .text{
    margin-right: 10px;
}

.article-mini img{
    float: left;
    /*display: inline;*/
    width: 150px;
    margin: 12px 18px 12px 12px;
}

.article-mini p{
    margin: 10px;
}

.article-mini a{
    color: #c72fc5;
}

.article-mini .title{
    font: 24px "Times New Roman";
    /*display: inline-block;*/
    margin: 0 0 0 25px;
    display: block;
}

.article-mini .right{
    margin-left: 170px;
}


/************* Article ***************/

.article{
    font: 18px "Times New Roman";
    width: 590px;
}

.article .image img{
    float: left;
    margin: 0 30px 0 0;
    width: 300px;
}
.article .image img:after{
    content: " ";
}
.article .image:after{
    content: " ";
}

.article .title{
    margin: 20px 0 20px 0;
    font: 24px "Times New Roman";
    color: #c72fc5;
}

.article .text{

}
.article .comments{
    clear: both;
    margin-top: 10px;
}
.article .comment{
    margin-top: 10px;
    padding: 12px;
    background:rgba(204, 233, 88, 0.55);
}


